{% extends 'layout.html' %}

{% block title %}{% endblock %}


{% block content %}

  <div class="container">

    <h1>{{ title }}</h1>
    <p>Welcome! Please Login.</p>
    <hr><br>
    <a href="/auth/linkedin" class="btn btn-default">LinkedIn</a>
    <a href="/auth/github" class="btn btn-default">Github</a>
    <a href="/auth/twitter" class="btn btn-default">Twitter</a>
    <fieldset>
            <label for="firstname">First Name</label>
            <input type="text" id="firstname" name="firtname" placeholder="Enter your first name" />
            <br />
            <label for="lastname">Last Name</label>
            <input type="text" id="lasttname" name="lastname" placeholder="Enter your last name" />
            <br />
            <label for="gender">Gender</label>
            <select name="gender">
            <option value="None selected">Please select below</option>
            <option value="Male">Male</option>
            <option value="Female">Female</option>
            </select>
            <br />
            <label for="dateofbirth">Date of Birth</label>
            <input type="date" id="dateofbirth" name="dateofbirth" placeholder="Enter your date of birth">
            <br />
            <label for="nationality">Nationality</label>
            <input type="text" id="nationality" name="nationality" placeholder="Enter your nationality">
            <br />
            <label for="residence">Country of residence</label>
            <input type="text" id="residence" name="residence" placeholder="Enter your country of residence">
            <br />
            <label for="email">Email</label>
            <input type="email" id="email" name="email" placeholder="Enter your email address" />
            <br />
            <label for="skypeid">Skype ID</label>
            <input type="text" id="skypeid" name="skypeid" placeholder="Enter your Skype id">
            <br />
            <label for="contact">Contact Number</label>
            <input type="text" id="contact" name="contact" placeholder="Enter your contact number">
            <br />
            <input type="submit" value="Create Profile" />
         </fieldset>


  </div>

{% endblock %}
